<!DOCTYPE html>
<html ng-app="app">
    <head>
        <title>Angular-JS Learning</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        <!--CSS Files-->
        <link href="css/bootstrap-theme.min.css" rel="stylesheet" type="text/css"/>
        <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
        <link href="css/style.css" rel="stylesheet" type="text/css"/>

        <!--JS Files-->
        <script src="js/jquery.min.js" type="text/javascript"></script>
        <script src="js/bootstrap.min.js" type="text/javascript"></script>
        <script src="js/angular.min.js" type="text/javascript"></script>
        <script src="js/script.js" type="text/javascript"></script>
    </head>
    <body class="container-fluid" style="">
        <div>
            <div ng-controller="EnableDisableController" class="jumbotron">
                <h1 class="h1">Enable/Disable Button</h1>
                <input class="checkbox" type="checkbox" ng-model="enableDisableButton">Disable Button<br/>
                <button class="btn btn-primary" ng-disabled="enableDisableButton">Click Me!</button>
            </div>

            <div ng-controller="ShowButtonController" class="jumbotron">
                <h1 class="h1">Show Button</h1>
                <input class="checkbox" type="checkbox" ng-model="show">Show Button With The Name Below<br/>
                <input type="text" ng-model="buttonName" />
                <button class="btn btn-primary" ng-show="show">{{ buttonName}}</button>
            </div>

            <div ng-controller="ButtonClickController" class="jumbotron">
                <h1>Increment/Decrement Test</h1>
                <h3>Current Value : {{ number}}</h3>
                <button ng-click="increment();">Increment</button>
                <button ng-click="decrement();">Decrement</button>
            </div>
        </div>
    </body>
</html>
